@keyframes gradient-x {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animateGradientX {
  background-size: 200% auto;
  animation: gradient-x 8s ease infinite;
}
